.Dashboard {
  width: 100%;
  height: 100%;
}

.DashboardScreen {
  width: 100%;
  height: 100%;

  border-radius: 10px;
  background-color: #101d42;
  background-image: url("../../assets/bg.png");

  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.25);
}

.DashboardControls {
}

.DashboardNavigation {
}

.DashboardLogin {
}

.modal-dialog {
  width: 20%;
}

.modal-content {
  background-color: #101D42;
}

