.ChatComponent {
    border-radius: 0px 0px 10px 0px;
    position: relative;
}

.message-input {
  min-height: 100px !important;
  background-color: rgba(0, 0, 0, 0.25) !important;
  font-size: smaller;
  border: none;
  resize: none;
  color: white;
}

.message-input:focus {
  color: white;
  border: none;
  box-shadow: none;
}

.message-input-send {
  font-size: smaller;
}

.message-container.even {
  background: rgba(0, 0, 0, 0.1);
}

.message {
  font-size: 10pt;
}

.is-user {
  text-align: right;
}

.username {
  color: white;
}

.message-list {
  overflow-y: auto;
  max-height: calc(100% - 38px);
  position: relative;
}
