.ChatComponent {
    border-radius: 0px 0px 10px 0px;
    position: relative;
}

.message-input {
  min-height: 100px !important;
  background-color: rgba(0, 0, 0, 0.25) !important;
  font-size: smaller;
  border: none;
  resize: none;
  color: white;
}

.message-input:focus {
  color: white;
  border: none;
  box-shadow: none;
}

.message-input-send {
  font-size: smaller;
}

.message {
  text-align: left;
}

.message-container {
  padding: 10px;
  border-bottom: 1px solid white;
}

.text-container {
  padding: 0px 10px;
}

.is-user {
  text-align: right;
}

.username {
  font-weight: 600;
}

.message-list {
  overflow-y: auto;
  max-height: calc(100% - 38px);
  position: relative;
}
