.PlayerColumn {
    width: 70%;
}

.ChatColumn {
    width: 30%;
}

.PlaylistComponentContainer {
    height: 90%;
}

.PlayerComponentContainer {
    height: 10%;
}

.RoomInfoComponentContainer {
    height: 20%;
}

.ChatComponentContainer {
    height: 80%;
}